[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy-serializer = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-cors = "*"

[requires]
python_full_version = "3.8.10"

[dev-packages]
